#GymGuide {
  font-family: cursive;
  color: goldenrod;
}
#Jídlo {
  font-family: cursive;
  color: goldenrod;
}
#Kalorie {
  font-family: cursive;
  color: red;
}
#Makroživiny {
  font-family: cursive;
  color: red;
}
#Hydratace {
  font-family: cursive;
  color: red;
}
#Trénink {
  font-family: cursive;
  color: goldenrod;
}
#Workout_split {
  font-family: cursive;
  color: red;
}
#Suplementace {
  font-family: cursive;
  color: goldenrod;
}
#Protein {
  font-family: cursive;
  color: grey;
}
#Kreatin {
  font-family: cursive;
  color: grey;
}
#BCAA {
  font-family: cursive;
  color: grey;
}
#Magnesium {
  font-family: cursive;
  color: grey;
}
#Zinek {
  font-family: cursive;
  color: grey;
}
#Omega-3 {
  font-family: cursive;
  color: grey;
}
#Vitamin_D {
  font-family: cursive;
  color: grey;
}
#Vitamin_C {
  font-family: cursive;
  color: grey;
}
